@font-face{
    font-family: "elizafat";
    src: url("../resources/fonts/elizafat.regular.otf");
}

@font-face{
    font-family: "bahnschrift";
    src: url("../resources/fonts/bahnschrift.ttf")
}

@font-face{
    font-family: "jmh-psychedelic-caps";
    src: url("../resources/fonts/JMH-Psychedelic-CAPS.otf")
}

@media (max-width: 1299px){
    :root{
        --spacer-height: 25vh;
    }
}
@media (min-width: 1300px){
    :root{
        --spacer-height: 17vh;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "elizafat";
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 3rem;
}

p{
    font-family: "bahnschrift";
    line-height: 150%;
}

body{
    margin: 0;
    padding: 0;
}

.section{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


.section.long{
    height: fit-content;
}

.textContainer{
    width: 45vw;
}

.columnSection{
    display:grid;
    grid-template-columns: 2.5vw 30vw 5vw 25vw 5vw 30vw 2.5vw;
}

.column{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 35vw;
    height: fit-content;
}

.leftColumn{
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 1;
}

.centerColumn{
    z-index: 2;
    grid-column: 3 / 5;
    grid-row: 1;
}

.rightColumn{
    z-index: 1;
    grid-column: 5 / 6;
    grid-row: 1;
}

.imgFilterContainer{
    float: right;
}
.spacerHeight05{
    min-height: calc(var(--spacer-height)*0.5);
    width: 100%;
}
.spacerHeight1{
    min-height: calc(var(--spacer-height));
    width: 100%;
}

.spacerHeight2{
    min-height: calc(var(--spacer-height)*2);
    width: 100%;
}

.spacerHeight3{
    min-height: calc(var(--spacer-height)*3);
    width: 100%;
}

.swooshContainerTitle{
    width: 32.5vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../resources/img/BeginningSwoosh.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.swooshContainer{
    grid-column: 6 / 7;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-right: 0;
    margin-left: auto;
}

#titleSect{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns:auto 60vw auto;
    grid-template-rows: 20vh 60vh auto;
    overflow: hidden;
}

#titlePerformance{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

#titlePerformance video{
    width: 100%;
    
}

.titleTextContainer{
    grid-row: 2;
    grid-column: 2;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    color: #F4F3AA;
}

#titleSect p{
    font-size: 1.2em;
    font-weight: bold;
}

#titleSect h1{
    font-size: 5em;
    margin-bottom: 0;
}

#titleSect h2{
    grid-column: 1;
    grid-row: 1;
    font-size: 3em;
    display:none;
}

#titleSect .scrollImg{
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 40%;
    height: auto;
    transform-origin: center center;
    transform: rotate(90deg) scaleX(-1);
}

#chapterOverview{
    display: grid;
    grid-template: 50vw 3em;
}


#beginningSect .swooshContainer{
    background-image: url("../resources/img/BeginningSwoosh.svg");
    background-repeat: repeat-y;
}

#hendrixExperience .swooshContainer{
    background-image: url("../resources/img/ExperienceSwoosh.svg");
    background-repeat: repeat-y;
}

#beginningSect{
    flex-direction: row;
    color: #000000;
}

#beginningSect p{
    background-color: rgba(244, 243, 170, 0.4);
    box-shadow: 0 0 0.18em 0.5em rgba(244, 243, 170, 0.40);
}

#beginningSect h2{
    position: absolute;
    z-index: 3;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(-55vh) translateY(4vw);
    color: #810522;
}

#beginningSect .leftColumn img,#beginningSect .leftColumn iframe{
    transform-origin: bottom left;
}

#beginningSect .rightColumn img,#beginningSect .rightColumn iframe{
    transform-origin: bottom right;
}

.columnSection iframe{
    width: 80%;
    height: 35vh;
}

.wideImg{
    width: 120%;
    height: auto;
    display: flex;
    align-self: center;
}

#beginningSect .firstImg{
    width: auto;
    margin-right: 3vw;
    margin-left: auto;
}


#suproOzark{
    transform-origin: 0.0 0.0 !important;
    transform: rotate(45deg);
    width: 80%
}

#beginningSect .scrollImg{
    align-self: center;
    width: var(--spacer-height);
    height: auto;
    transform-origin: center center;
    transform: rotate(90deg) scaleX(-1);
}

#beginningSect .secondImg{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: 3vw;
}

#hendrixExperienceAnimation{
    color: #B91F48;   
}

.noiseWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    filter: url("#noise");
}

.stars{
    height: 100vh;
    width: auto;
    position: relative;
    z-index: 0;
    
}

#star1{
    fill: #2DB494;
}

#star2{
    fill: #B91F48;
}

#hendrixExperienceAnimation h2{
    align-self: center;
}

#hendrixExperience p{
    background-color: rgba(238, 203, 0, 0.4);
    box-shadow: 0 0 0.18em 0.5em rgba(238, 203, 0, 0.40);
}

#hendrixExperience .leftColumn img, #hendrixExperience .leftColumn iframe, #hendrixExperience .rightColumn img, #hendrixExperience .rightColumn iframe{
    transform-origin: center center;
}


#hendrixExperience .narrowImg{
    width: 70%;
    height: auto;
} 

#hendrixExperience .firstImg{
    margin-left: 2vw;
}

#hendrixExperience .secondImg{
    max-height: 80vh;
    width: 50vh;
}

#woodstockPerformance{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    z-index: 0;
    overflow-y: hidden;
}

#woodstockIntro{
    background-color: rgba(190, 50, 60, 0.4);
    color: white;
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;    
}
#introImgContainer{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.introImg{
    grid-column: 1;
    grid-row: 1;
    display: none;
    z-index: 3;
    align-self: center;
    justify-self: center;
    width: 60%;
    height: auto;
}

#woodstockIntro h2{
    align-self: center;
}

#woodstockIntro p{
    width: 30%;
    align-self: center;
    text-align: center;
}

#woodstockIntro svg{
    margin-top: 7vh;
    align-self: center;
    height: 10vh;
    width: auto;
    
}
#playBtn{
    filter: drop-shadow(10px 10px 2px rgba(0,0,0, 0.2));
}

#performanceContainer{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
}


#visualizer{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
}

.visualizerText{
    z-index: 2;
    font-size: 1.2em;
    font-family: "jmh-psychedelic-caps";
}

.whiteLine{
    fill: rgba(255, 255, 255, 1);
}

.redLine {
    fill: rgba(191, 10, 48, 1);
} 

.wildLetter{
    fill: rgba(190, 50, 60, 1);
}

.letterLoop, .horizontalLineTop, .horizontalLineBottom{
    fill:rgba(245,183,39,1); 
}

#downfall{
    flex-direction: column;
}

#downfall h2{
    display: flex;
    align-self: center;
    color:  #E65427;
}

.downfallSubSect{
    width: 86%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    padding: 7%;
}

#subSectBoG{
    color: #E65427;
}

#subSectBoG img{
    max-width: 33vw;
    height: auto;
}

#subSectBoG .textContainer{
    padding-left: 2rem;
}

#subSectEuroTour{
    color: #F4F3AA;
    text-align: right;
    flex-direction: row-reverse;
}

#subSectEuroTour img{
    position: relative;
    z-index: 0;
    max-width: 33vw;
    height: auto;
    filter: url(#yellowTinge);
}

#subSectEuroTour .imgFilter{
    position: relative;
    background-color: #F4F3AA;
    opacity: 0.3;
    max-width: 33vw;
    height: 100px;
    z-index: 1;
}

#subSectEuroTour .textContainer{
    padding-right: 2rem;
}

#subSectFerham{
    height: 100vh;
    width: 75vw;
    flex-direction: column;
    align-items: center;
    color: #FDF9F8;
}

#subSectFerham img{
    height: 85vh;
    width: 122.5vh;
    width: auto;
}

#subSectFerham .backgroundHolder{
    height: 65vh;
    width: 75vw;
    background-image: url("../resources/img/IsleOfWight.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#subSectFerham .textContainer{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#subSectFerham p, #subSectFerham h3{
    margin: 0.4em;
    
    display: inline;
}
#subSectFerham p{
    margin: 0.4em;
    margin-left: 1.5em;
    max-width: 60%;
}

#deathSect{
    color: white;
    text-align: center;
    line-height: 1.6;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 
#deathSect p{
    width: 75%;
}

