@font-face {
    font-family: JMH Psychedelic CAPS;
    src: url('JMH\ Psychedelic\ CAPS.otf');
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    background-color:rebeccapurple;
}

#performanceContainer{
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#performance{
    /* width: 50%; */
    /* margin-left: auto; */
}

#visualizer{
    position: absolute;
    z-index: -1;
    
}

.visualizerText{
    z-index: 0;
    right: 50%;
    font-size: 1em;
    font-family: "JMH Psychedelic Caps";
    fill: red;
}