@font-face {
    font-family: JMH Psychedelic CAPS;
    src: url('JMH\ Psychedelic\ CAPS.otf');
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    background-color:rebeccapurple;
    overflow: hidden;
}

#performanceContainer{
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#performance{
    width: 100%;
}

#visualizer{
    position: absolute;
    z-index: 1;
    mix-blend-mode: color-dodge;
}

.visualizerText{
    z-index: 0;
    right: 50%;
    font-size: 1.2em;
    font-family: "JMH Psychedelic Caps";
}

.whiteLine{
    fill: rgba(255, 255, 255, 1);
}

.redLine{
    fill: rgba(191, 10, 48, 1);
} 

.wildLetter{
    fill: rgba(20, 50, 60, 1)
}

.letterLoop{
    fill:rgba(245,183,39,1); 
}
.smallperformance{
    position: absolute;
    z-index: 5;
    width: 50%
    
}